# Prerequisites
*.d

# not source
uggbackup/
ugg/src/code/
__pycache__/
CMakeCache.txt
CMakeFiles/
CMakeScripts/
Debug/
Release/
*.build/
cmake_install.cmake

# MacOS X
*.DS_Store
*.xcodeproj/

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
